<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IFactory" type="CatalogBusiness.IFactory, CatalogBusiness" />
    </typeAliases>
    <containers>
      <container name="DataStore.Factory">
        <types>
          <type type="IFactory" mapTo="CatalogBusiness.FactoryNHibernate, CatalogBusiness" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>